body{
  background: fixed;
  background-color: #ffffff;
  background-image: radial-gradient(circle at top right, rgba(56, 193, 182, 0.5), transparent 70%);
  background-repeat: no-repeat;
  
  height: 100vh;
}